body {
  background-image: url("background_pencils.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  color: white;
  font-family:cursive;
}

.main {
  position: relative;
  text-align: center;
}

.my_game {
  padding-top: 25px;
  padding-bottom: 30px;
}

.form {
  padding-top:30px;
  font-size: 2rem;
}

p {
  font-size: 20px;
}

.foot {
  padding-top: 200px;
}
